<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>FitApp</title>
    <th:block th:replace="fragments/main/components-index :: headContent"></th:block>
</head>
<body>
    <header class="py-xl-5 mt-index bg-gradient text-white">
        <!-- Sticky top menu -->
        <div th:replace="fragments/main/components-index :: top-menu"></div>
        <!-- Big image with text -->
        <div th:replace="fragments/main/components-index :: gym-image"></div>

    </header>
    <!-- About section-->
    <div th:replace="fragments/main/components-index :: about-us"></div>
    <!-- Services section-->
    <div th:replace="fragments/main/components-index :: services"></div>
    <!-- Contact section-->
    <div th:replace="fragments/main/components-index :: contact"></div>

    <!-- Footer section -->
    <footer th:replace="fragments/main/components-index :: footer"></footer>

</body>
</html>