<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Wszystkie obiekty</title>
    <th:block th:replace="fragments/components-owner-panel :: headContent"></th:block>
</head>
<body>
<header>
    <div th:replace="fragments/components-owner-panel :: top-menu"></div>
</header>
<div class="py-5 bg-white">
    <div class="d-flex flex-wrap justify-content-center sport-object-container" >
        <div class="mt-5" ></div>
        <div th:each="club : ${clubList}">
            <div class="p-2">
                <div th:replace="fragments/components-owner-panel :: Sport-object-All-Clubs"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/components-owner-panel :: footer"></footer>

</body>
</html>