<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Moje obiekty</title>
    <th:block th:replace="fragments/components-owner-panel :: headContent"></th:block>
</head>
<body>
<header>
    <!-- Sticky top menu -->
    <div th:replace="fragments/components-owner-panel :: top-menu"></div>
</header>
<div class="py-5 mt-5 bg-white">
    <div class="container px-4 text-center" >
        <a th:href="@{/owner-panel}">Powrót do panelu</a><br>
        <a th:href="@{/owner-panel/add-club/0}">Dodaj obiekt</a><br>

    </div>
</div>
<div class="py-5 bg-white">
    <div class="d-flex flex-wrap justify-content-center">
        <div th:each="club : ${myClubsList}">
            <div class="p-2">
                <div class="sport-object">
                    <b>Nazwa: </b><a th:text="${club.name}"></a><br>
                    <b>Opis: </b><a th:text="${club.description}"></a><br>
                    <b>Addres: </b><a th:text="${club.getFullAddress()}"></a><br>
                    <b>Kategoria: </b><a th:text="${club.clubCategory.getName()}"></a><br>
                    <div class="flex-button">
                        <div class="sport-object-button">
                            <a class="btn btn-primary" th:href="@{/owner-panel/add-club/{id}(id=${club.id})}" role="button">Edytuj obiekt</a>
                        </div>
                        <div class="sport-object-button">
                            <a class="btn btn-info" th:href="@{/owner-panel/delete-club/{id}(id=${club.id})}" role="button">Usuń obiekt</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/components-owner-panel :: footer"></footer>

</body>
</html>