<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <title>Panel właścicela obiektu</title>
  <th:block th:replace="fragments/main/components-index :: headContent"></th:block>
</head>
<body>
<header>

</header>
<div class="py-5 mt-5 bg-white">
  <div class="container px-4 text-center" >
    <a th:href="@{/owner-panel/all-clubs}">Wszystkie obiekty</a><br>
    <a th:href="@{/owner-panel/my-clubs}">Moje obiekty</a><br>
    <a th:href="@{/logout}">Wyloguj</a><br>
    <a>Witaj </a><a th:text="${loggedUserName}"></a>
  </div>
</div>

<footer th:replace="fragments/main/components-index :: footer"></footer>

</body>
</html>