<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>FitApp</title>
  <th:block th:replace="fragments/components-owner-panel :: headContent"></th:block>
</head>
<body>

<header class="py-xl-5 mt-5 bg-primary bg-gradient text-white">
  <!-- Sticky top menu -->
  <div th:replace="fragments/components-owner-panel :: top-menu"></div>

</header>



<div th:replace="fragments/components-owner-panel :: main-content"></div>

<footer th:replace="fragments/components-owner-panel :: footer"></footer>

</body>
</html>