<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="container text-center">
        <h1>Strona główna</h1>
        <h3><a th:href="@{/register}">Rejestracja</a></h3>
        <h3>Zaloguj się</h3>
        <h3><a th:href="@{/login}">Użytkownik</a></h3>
        <h3><a th:href="@{/login/coach}">Trener</a></h3>
        <h3><a th:href="@{/login/owner}">Właściciel obiektu</a></h3>
    </div>

</body>
</html>