<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link th:href = "@{/styles/signupFormStyles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link th:href = "@{/fontello/css/fontello.css}" rel="stylesheet" />

</head>
<body>



<div class="wrapper">

    <div class="header">

        <div class="logo">
            <img th:src="@{/images/logo_transparent.png}" style="float: left;"/>
            Register panel
            <div style="clear:both;"></div>
        </div>
    </div>

    <div class="nav">

        <ol>
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">Przejrzyj dostępne zajęcia</a></li>
            <li><a th:href="@{/login}">Zaloguj się</a></li>

        </ol>


    </div>

    <div class="signupwrapper">
        <div class="main">
            <div class="signup">
                <form th:action="@{/process_register}" th:object="${user}" method="post">
                    <label>Stwórz konto</label>
                    <select class="form-control" id="user_type" th:field="*{userType}">
                        <option th:each="userT : ${T(app.fitness.FitnessApp.login.UserType).values()}"
                                th:value="${userT}" th:text="${userT.displayValue}"></option>
                    </select>
                    <input type="text" th:field="*{login}" placeholder="Login" class="form-control" required />
                    <input type="password" th:field="*{password}" placeholder="Password" class="form-control" autocomplete="off" required minlength="8" maxlength="32" />
                    <input type="email" th:field="*{email}" placeholder="E-mail" class="form-control" required />
                    <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control" required minlength="2" maxlength="32"/>
                    <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control" required minlength="2" maxlength="32" />
                    <input type="tel" th:field="*{phoneNumber}" placeholder="Telephone Number" class="form-control" required minlength="9" maxlength="9" />
                    <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                </form>
                <div class="hasAccount"><a th:href="@{/login}">Mam już konto</a></div>
            </div>


        </div>

    </div>






    <div class="socials">

        <div class="socialdivs">
            <div class="fb"><i class="icon-facebook-1"></i></div>
            <div class="yt"><i class="icon-youtube"></i></div>
            <div class="tw"><i class="icon-twitter-1"></i></div>
            <div class="gplus"><i class="icon-gplus-1"></i></div>
            <div style="clear:both"></div>
        </div>


    </div>

    <div class="footer">
        FitApp &copy; 2021

    </div>

</div>

<script src="jquery-3.6.0.min.js"></script>

<script>

	$(document).ready(function() {
	var NavY = $('.nav').offset().top;

	var stickyNav = function(){
	var ScrollY = $(window).scrollTop();

	if (ScrollY > NavY) {
		$('.nav').addClass('sticky');
	} else {
		$('.nav').removeClass('sticky');
	}
	};

	stickyNav();

	$(window).scroll(function() {
		stickyNav();
	});
	});

	</script>

</body>
</html>