<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link th:href = "@{/styles/signup_form_styles.css}" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main">


    <div class="signup">
        <form th:action="@{/process_register}" th:object="${user}" method="post">
            <label>FitApp Sign up</label>
            <select class="form-control" id="user_type" th:field="*{userType}">
                <option th:each="userT : ${T(app.fitness.FitnessApp.domain.UserType).values()}"
                        th:value="${userT}" th:text="${userT.displayValue}"></option>
            </select>
            <input type="text" th:field="*{login}" placeholder="Login" class="form-control" required />
            <input type="password" th:field="*{password}" placeholder="Password" class="form-control" autocomplete="off" required minlength="8" maxlength="32" />
            <input type="email" th:field="*{email}" placeholder="E-mail" class="form-control" required />
            <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control" required minlength="2" maxlength="32"/>
            <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control" required minlength="2" maxlength="32" />
            <input type="tel" th:field="*{phoneNumber}" placeholder="Telephone Number" class="form-control" required minlength="9" maxlength="9" />
            <button type="submit" class="btn btn-primary">Zarejestruj się</button>
        </form>
    </div>


</div>
</body>
</html>