<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Dodaj trening</title>
    <th:block th:replace="fragments/components-coach-panel :: headContent"></th:block>
    <script type="text/javascript">
        function showDiv(i) {
            if(i == 'ONETIME') {
                document.getElementById(i).style.display = 'block';
                document.getElementById('REGULAR').style.display = 'none';
            }
            else {
                document.getElementById(i).style.display = 'block';
                document.getElementById('ONETIME').style.display = 'none';
            }
        }
    </script>
</head>
<body>
<header>
    <div th:replace="fragments/components-coach-panel :: top-menu"></div>
</header>
<div class="py-5 mt-5 bg-white">
    <div>
        <div class="container px-4 text-center" style="max-width: 500px;">
            <div>
                <form th:action="@{/coach-panel/my-trainings}" th:object="${trainingToAdd}" method="post">
                    <fieldset>
                        <legend>Dodaj trening</legend>
                        <input type="hidden" th:field="*{id}">
                        <select class="form-control" id="training_category" th:field="*{trainingCategory}">
                            <option th:each="category : ${trainingCategories}"
                                    th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                        <select class="form-control" id="training_club" th:field="*{club}">
                            <option th:each="club : ${availableClubs}"
                                    th:value="${club.id}" th:text="${club.name}"></option>
                        </select>

                        <input type="text" th:field="*{name}" placeholder="Nazwa" required /><br>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

                        <textarea th:field="*{description}" placeholder="Opis" rows="8" cols="50"></textarea>
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</p>

                        <label for="max_participants">Maksymalna liczba uczestników </label><br>
                        <input type="number" id="max_participants" min="1" th:field="*{maxParticipants}" placeholder="Maksymalna liczba uczestników" required /><br>
                        <p th:if="${#fields.hasErrors('maxParticipants')}" th:errors="*{maxParticipants}">Name Error</p>

                        <label for="price">Cena</label><br>
                        <input type="number" id="price" step="0.01" min="0" th:field="*{price}" placeholder="Cena" required /><br>
                        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name Error</p>
                        <select class="form-control" id="training_type" th:field="*{trainingType}" onclick="showDiv(value);">
                            <option th:each="trainingT : ${T(app.fitness.FitnessApp.domain.extra.TrainingType).values()}"
                                    th:value="${trainingT}" th:text="${trainingT.displayValue}"></option>
                        </select>
                        <div id="ONETIME" style="display: none;">
                            <table>
                                <thead>
                                <tr>
                                    <th> Data</th>
                                    <th> Godzina rozpoczęcia</th>
                                    <th> Godzina zakończenia</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="date, itemStat : *{oneTimeDates}">
                                    <td><input type="date" th:field="*{oneTimeDates[__${itemStat.index}__].date}" /></td>
                                    <td><input type="time" th:field="*{oneTimeDates[__${itemStat.index}__].startTime}" /></td>
                                    <td><input type="time" th:field="*{oneTimeDates[__${itemStat.index}__].endTime}" /></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="REGULAR" style="display: none;">
                            <table>
                                <thead>
                                <tr>
                                    <th> Dzień tygodnia</th>
                                    <th> Godzina rozpoczęcia</th>
                                    <th> Godzina zakończenia</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="date, itemStat : *{oneTimeDates}">
                                    <td>
                                        <select class="form-control" th:field="*{regularDates[__${itemStat.index}__].dayOfWeek}">
                                            <option th:each="dayT : ${T(app.fitness.FitnessApp.domain.extra.DayOfWeek).values()}"
                                                    th:value="${dayT}" th:text="${dayT.displayValue}"></option>
                                        </select>
                                    </td>
                                    <td><input type="time" th:field="*{regularDates[__${itemStat.index}__].startTime}" /></td>
                                    <td><input type="time" th:field="*{regularDates[__${itemStat.index}__].endTime}" /></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/components-owner-panel :: footer"></footer>

</body>
</html>