<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Wszystkie zajęcia</title>
    <th:block th:replace="fragments/components-coach-panel :: headContent"></th:block>
</head>
<body>
<header>
    <div th:replace="fragments/components-coach-panel :: top-menu"></div>
</header>
<div class="py-5 mt-5 bg-white">
    <div class="d-flex flex-wrap justify-content-center training-container" >
        <div th:each="training : ${allTrainings}">
            <div class="p-2">
                <div class="coach-all-trainings">
                    <div class="training-image">
                        <img class="training-club-image" th:src="@{/images/tennis_court_wip.jpg}" />
                    </div>

                    <h1 class="training-title">
                        <a th:text="${training.name}"></a>
                    </h1>
                    <p class="training-description">
                        <a th:text="${training.description}"></a>
                    </p>

                    <div class="training-tags">
                        <p class="training-tags-paragraph">
                            <a th:text="${training.trainingCategory.getName()}"></a>
                        </p>
                        <p class="training-tags-paragraph">
                            <a th:text="${training.club.getName()}"></a>
                        </p>
                        <p class="training-tags-paragraph">
                            <a th:text="${training.getEnrolledCustomers()}"></a>
                        </p>
                    </div>

                    <div class="training-trainer">
                        <p>
                            <b>Trener: </b><a th:text="${training.coach.fullName()}"></a>
                        </p>
                    </div>
                    <div class="training-price">
                        <p>
                            <b>Koszt : </b> <a th:text="${training.price}"></a> zł
                        </p>
                    </div>


                    <div class="training-dates">
                        <div th:if="${training.oneTimeDates != null && training.oneTimeDates.size() > 0}">
                            <div th:each="date : ${training.oneTimeDates}">
                                <p>
                                    <img class="training-calendar-icon" th:src="@{/images/calendar-date.svg}" />
                                    <a th:text="${date}"></a>
                                </p>
                            </div>
                        </div>

                        <div th:if="${training.regularDates != null && training.regularDates.size() > 0}">
                            <div th:each="date : ${training.regularDates}">
                                <p>
                                    <img class="training-calendar-icon" th:src="@{/images/calendar-date.svg}" />
                                    <a th:text="${date}"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/components-owner-panel :: footer"></footer>

</body>
</html>