<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FitApp</title>
    <th:block th:replace="fragments/components-coach-panel :: headContent"></th:block>
</head>
<body>

<header class="py-xl-5 bg-white text-white">
    <!-- Sticky top menu -->
    <div th:replace="fragments/components-coach-panel :: top-menu"></div>

</header>



<div th:replace="fragments/components-coach-panel :: main-content"></div>

<footer class="py-5 bg-dark fixed-bottom">
    <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; FitApp 2021</p>
    </div>
</footer>

</body>
</html>