<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Moje zajęcia</title>
    <th:block th:replace="fragments/components-coach-panel :: headContent"></th:block>
</head>
<body>
<header>
    <div th:replace="fragments/components-coach-panel :: top-menu"></div>
</header>
<div class="py-5 mt-5 bg-white">
    <div class="container px-4 text-center" >
        <a th:href="@{/coach-panel}">Powrót do panelu</a><br>
        <a th:href="@{/coach-panel/add-training/0}">Dodaj zajęcia</a><br>
    </div>
    <div th:if="${exceptionMessage}">
        <a th:text="${exceptionMessage}"></a>
    </div>
    <div class="container px-4 text-center" >
        <div th:each="training : ${coachTrainings}">
            <b>Nazwa: </b><a th:text="${training.name}"></a><br>
            <b>Opis: </b><a th:text="${training.description}"></a><br>
            <b>Kategoria: </b><a th:text="${training.trainingCategory.getName()}"></a><br>
            <b>Klub: </b><a th:text="${training.club.getName()}"></a><br>
            <b>Maksymalna liczba uczestników: </b><a th:text="${training.maxParticipants}"></a><br>
            <b>Zapisanych uczestników: </b><a th:text="${training.currentParticipants}"></a><br>
            <b>Cena: </b><a th:text="${training.price}"></a><br>
            <div>
                <a th:href="@{/coach-panel/add-training/{id}(id=${training.id})}" role="button">Edytuj</a>
            </div>
            <div>
                <a th:href="@{/coach-panel/delete-training/{id}(id=${training.id})}" role="button">Usuń</a>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/components-owner-panel :: footer"></footer>

</body>
</html>