<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href = "@{/styles/customerProfileStyles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link th:href = "@{/fontello/css/fontello.css}" rel="stylesheet" />

</head>
<body>

<div class="wrapper">

    <div class="header">

        <div class="logo">
            <img th:src="@{/images/logo_transparent.png}" style="float: left;"/>
            Customer Panel
            <div style="clear:both;"></div>
        </div>
    </div>

    <div class="nav">

        <ol>
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">Przejrzyj dostępne zajęcia</a></li>
            <li><a href="#">Przejrzyj statystyki</a></li>
            <li><a href="#">Ustawienia profilu</a></li>
            <li><a th:href="@{/logout}">Wyloguj się</a></li>


        </ol>

    </div>

    <div class="content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ipsum vitae metus vehicula molestie ut nec mi. Integer quis ante eleifend, rutrum neque quis, dignissim dui.
            Curabitur eget elit eros. Suspendisse ex leo, lobortis in pretium sed, consequat eu eros. Quisque tempus nibh mattis, euismod mi et, placerat sapien. Nulla bibendum neque eu vehicula venenatis.
            Curabitur varius quam augue. Donec finibus, ligula at dignissim commodo, elit ex vehicula massa, a sodales felis urna vitae eros. Ut convallis magna ex, congue maximus dolor laoreet sodales.
            In nec felis nec sapien tincidunt rhoncus eu eget elit. Vivamus tristique, quam vel luctus tempor, neque lorem sollicitudin nulla, vel dictum urna neque eu lectus. Sed pellentesque suscipit porttitor.
            Donec dui urna, faucibus pellentesque neque quis, cursus iaculis magna. Suspendisse vitae turpis eget est placerat tristique. Nunc auctor dolor sit amet justo varius fermentum.
            Donec quis dui aliquam, gravida leo at, mollis felis.</p>

        <p>Sed diam orci, ornare a faucibus in, posuere sed orci. Sed leo elit, iaculis sed leo malesuada, vestibulum pharetra massa. Suspendisse sed fermentum lacus. Donec venenatis finibus porttitor.
            Sed quis efficitur augue. Nullam ac congue libero, nec interdum lacus. Vestibulum non erat eget sapien consequat congue quis ac eros. Aenean sit amet elementum nisl, tincidunt tristique sapien.
            Ut ornare fermentum arcu ut malesuada.</p>

        <p>Nulla gravida sem elit, ut tempor ipsum scelerisque sed. Sed euismod quis odio vel ultricies. Fusce non efficitur lorem. Nullam hendrerit orci hendrerit arcu elementum, nec dapibus leo maximus.
            Duis id euismod neque. Suspendisse potenti. Fusce non urna ultricies, posuere nisi ac, posuere leo. Vestibulum quis eros non tortor cursus ultricies sed id est.</p>

        <p>Donec pharetra pharetra elit vitae cursus. Sed sed quam in metus auctor eleifend. Pellentesque quam velit, vulputate id urna eu, aliquet ullamcorper lorem. Proin eget magna malesuada, ultricies lorem tempor,
            sodales urna. Ut ac ornare eros. Phasellus luctus arcu et turpis iaculis ultrices. Mauris quis faucibus elit, porttitor consectetur lorem. Morbi nec porta magna.</p>

        <p>Sed sed condimentum mauris, vitae finibus nulla. Aliquam auctor sem at lectus porta bibendum. Vivamus sit amet ornare ex, in consectetur odio. Pellentesque iaculis orci quis leo iaculis, nec luctus eros posuere.
            Phasellus magna magna, viverra vel diam tristique, malesuada fringilla urna. Vestibulum tincidunt eros ac ullamcorper cursus. Nam varius purus massa, ac feugiat dolor rutrum a.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus quis metus ut tellus hendrerit elementum eu vitae est. Suspendisse sit amet porta libero.
            Quisque sit amet mauris ac quam vulputate egestas. Sed fringilla finibus venenatis. Aenean auctor orci ut rutrum finibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

    </div>

    <div class="socials">

        <div class="socialdivs">
            <div class="fb"><i class="icon-facebook-1"></i></div>
            <div class="yt"><i class="icon-youtube"></i></div>
            <div class="tw"><i class="icon-twitter-1"></i></div>
            <div class="gplus"><i class="icon-gplus-1"></i></div>
            <div style="clear:both"></div>
        </div>

    </div>

    <div class="footer">
        FitApp &copy; 2021

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

	$(document).ready(function() {
	var NavY = $('.nav').offset().top;

	var stickyNav = function(){
	var ScrollY = $(window).scrollTop();

	if (ScrollY > NavY) {
		$('.nav').addClass('sticky');
	} else {
		$('.nav').removeClass('sticky');
	}
	};

	stickyNav();

	$(window).scroll(function() {
		stickyNav();
	});
	});

	</script>





<!-- <a>Witaj </a><a th:text="${loggedUserLogin}"></a> -->


</body>
</html>