<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Edytuj profil</title>
    <th:block th:replace="fragments/components-customer-panel :: headContent"></th:block>
</head>
<body>
<header>
    <div th:replace="fragments/components-customer-panel :: top-menu"></div>
</header>
<div class="py-5 mt-5 bg-white">
    <div class="container px-4 text-center form-style-register" >
        <form th:action="@{/customer-panel/profile}" th:object="${profileDetails}" method="post">
            <fieldset>
                <legend>Dane</legend>
                <input type="text" th:field="*{firstName}" placeholder="imię" required /><br>
                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</p>
                <input type="text" th:field="*{lastName}" placeholder="nazwisko" required /><br>
                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</p>
                <input type="text" th:field="*{email}" placeholder="email" required /><br>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>
                <p th:if="${notUniqueEmailException}" th:text="${notUniqueEmailException}"></p>
                <input type="date" th:field="*{dob}" required /><br>
                <p th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Name Error</p>
                <input type="text" th:field="*{phoneNumber}" placeholder="numer telefonu" required /><br>
                <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</p>

                <button type="submit" class="btn btn-primary">Zatwierdź zmainy</button>
            </fieldset>
        </form>
    </div>
</div>


<footer th:replace="fragments/main/components-login :: footer"></footer>

</body>
</html>