<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Moje zajęcia</title>
    <th:block th:replace="fragments/components-customer-panel :: headContent"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <div th:replace="fragments/components-customer-panel :: top-menu"></div>
</header>
<div class="py-5 mt-3 bg-white">
    <div class="customer-my-training-heading">
        <h1>Moje Treningi</h1>
    </div>
    <div class="d-flex flex-wrap justify-content-center training-container" >
        <div th:each="training : ${myTrainings}">
            <div class="p-2">
                <div class="customer-my-training">
                    <div class="training-image" th:if="${training.club.clubCategory.getName()} == 'aquapark'">
                        <img class="category" th:src="@{/images/aquapark_banner.jpg}"/>
                    </div>
                    <div class="training-image" th:if="${training.club.clubCategory.getName()} == 'siłownia'">
                        <img class="category" th:src="@{/images/siłownia_banner.jpg}"/>
                    </div>
                    <div class="training-image" th:if="${training.club.clubCategory.getName()} == 'klub fitness'">
                        <img class="category" th:src="@{/images/klub fitness_banner.jpg}"/>
                    </div>
                    <div class="training-image" th:if="${training.club.clubCategory.getName()} == 'kort tenisowy'">
                        <img class="category" th:src="@{/images/kort tenisowy_banner.jpg}"/>
                    </div>
                    <div class="training-image" th:if="${training.club.clubCategory.getName()} == 'basen'">
                        <img class="category" th:src="@{/images/basen_banner.jpg}"/>
                    </div>

                    <h1 class="training-title">
                        <a th:text="${training.name}"></a>
                    </h1>
                    <p class="training-description">
                        <a th:text="${training.description}"></a>
                    </p>

                    <div class="training-tags">
                        <p class="training-tags-paragraph">
                            <a th:text="${training.trainingCategory.getName()}"></a>
                        </p>
                        <p class="training-tags-paragraph">
                            <a th:text="${training.club.getName()}"></a>
                        </p>
                        <p class="training-tags-paragraph">
                            <a th:text="${training.getEnrolledCustomers()}"></a>
                        </p>
                    </div>

                    <div class="training-trainer">
                        <p>
                            <b>Trener: </b><a th:text="${training.coach.fullName()}"></a>
                        </p>
                    </div>
                    <div class="training-price">
                        <p>
                            <b>Koszt : </b> <a th:text="${training.price}"></a> zł
                        </p>
                    </div>


                    <div class="training-dates">
                        <div th:if="${training.oneTimeDates != null && training.oneTimeDates.size() > 0}">
                            <div th:each="date : ${training.oneTimeDates}">
                                <p>
                                    <img class="training-calendar-icon" th:src="@{/images/calendar-date.svg}" />
                                    <a th:text="${date}"></a>
                                </p>
                            </div>
                        </div>

                        <div th:if="${training.regularDates != null && training.regularDates.size() > 0}">
                            <div th:each="date : ${training.regularDates}">
                                <p>
                                    <img class="training-calendar-icon" th:src="@{/images/calendar-date.svg}" />
                                    <a th:text="${date}"></a>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="mt-1 training-buttons">
                        <a class="btn btn-danger training-button" th:href="@{/customer-panel/resign/{id}(id=${training.id})}" role="button">Zrezygnuj</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<span th:if="${popupMessage}">
    <div th:replace="fragments/components-customer-panel :: popup-success"></div>
</span>

<footer th:replace="fragments/components-customer-panel :: footer"></footer>

</body>
</html>