<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:fragment="headContent">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <script th:href="@{/js/jquery.js}"></script>
        <script th:href="@{/js/bootstrap/bootstrap.js}"></script>
        <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
        <!-- script to expand menu -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </th:block>
</head>
<body>

<div th:fragment="top-menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logo_transparent.png}"  />
                Fit App
            </a>
            <!-- <a class="navbar-brand" th:href="@{/}">FitApp</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto" id="navbar-full-width">
                    <li class="nav-item"><a class="nav-link" th:href="@{/owner-panel/all-clubs}">Wszystkie Obiekty</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/owner-panel/my-clubs}">Moje Obiekty</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/owner-panel}">Panel</a></li>
                    <li class="nav-item dropdown" id="nav-item-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:if="${profileImage}"><img th:src="${profileImage}" width="40" height="40" class="rounded-circle"></span>
                            <span th:unless="${profileImage}"><img th:src="@{/images/avatarTransparent.png}" width="40" height="40" class="rounded-circle"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/owner-panel/profile}">Profil</a>
                            <a class="dropdown-item" th:href="@{/logout}">Wyloguj</a>
                        </div>
                    </li>

                    <!-- <li class="nav-item"><a class="nav-link" th:href="@{/customer-panel}"><img th:src="@{/images/logo_transparent.png}" /></a></li>  Tu bedzie popbierac avatara -->


                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="main-content">
    <section id="main-content" class="py-5 bg-white">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Statystyki</h2>
                    <p class="lead">Strona statystyk jest w trakcie konstrukcji.</p>
                    <div class="mt-5 mb-5">
                        <img th:src="@{/images/stats.png}" width="718px">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:fragment="add-clubForm">
    <div class="container px-4 text-center" style="max-width: 500px;">
        <div class="form-style-register">
            <form th:action="@{/owner-panel/my-clubs}" th:object="${clubToAdd}" method="post">
                <fieldset>
                    <legend>Dodaj obiekt</legend>
                    <select class="form-control" id="club_category" th:field="*{clubCategory}">
                        <option th:each="category : ${categoryList}"
                                th:value="${category.id}" th:text="${category.name}"></option>
                    </select>

                    <input type="text" th:field="*{name}" placeholder="Nazwa" required /><br>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

                    <textarea th:field="*{description}" placeholder="Opis" rows="8" cols="50"></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</p>

                    <input type="text" th:field="*{addressStreet}" placeholder="Ulica" required /><br>
                    <p th:if="${#fields.hasErrors('addressStreet')}" th:errors="*{addressStreet}">Name Error</p>

                    <input type="text" th:field="*{addressNumber}" placeholder="Numer budynku" required /><br>
                    <p th:if="${#fields.hasErrors('addressNumber')}" th:errors="*{addressNumber}">Name Error</p>

                    <input type="text" th:field="*{addressCity}" placeholder="Miasto" required /><br>
                    <input type="hidden" th:field="*{id}">
                    <p th:if="${#fields.hasErrors('addressCity')}" th:errors="*{addressCity}">Name Error</p>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div th:fragment="Sport-object-My-Clubs">
    <div class="sport-object">
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'aquapark'">
            <img class="category" th:src="@{/images/aquapark_banner.jpg}"/>
        </div>
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'siłownia'">
            <img class="category" th:src="@{/images/siłownia_banner.jpg}"/>
        </div>
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'klub fitness'">
            <img class="category" th:src="@{/images/klub fitness_banner.jpg}"/>
        </div>
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'kort tenisowy'">
            <img class="category" th:src="@{/images/kort tenisowy_banner.jpg}"/>
        </div>
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'basen'">
            <img class="category" th:src="@{/images/basen_banner.jpg}"/>
        </div>
        <h1 class="title_sport_card">
            <a th:text="${club.name}"></a>
        </h1>

        <div class="address_sport_card">
            <img class="pin" th:src="@{/images/Gmap_icon.png}" />
            <p class="text_address_sport_card">
                <a th:text="${club.getFullAddress()}"></a>
            </p>
        </div>
        <p class="description_sport_card">
            <a th:text="${club.description}"></a><br>
        </p>

        <div class="div_category_sport_card">
            <p class="text_category_sport_card">
                <a th:text="${club.clubCategory.getName()}"></a>
            </p>
        </div>
        <div th:if="${club.coaches != null && club.coaches.size() > 0}">
            <b>Trenerzy: </b>
            <a th:each="coach : ${club.coaches}" th:text="${coach.fullName()} +' '">  </a>
        </div>
        <div class="flex-button">
            <div class="sport-object-button">
                <a class="btn btn-primary" th:href="@{/owner-panel/add-club/{id}(id=${club.id})}" role="button">Edytuj obiekt</a>
            </div>
            <div class="sport-object-button">
                <a class="btn btn-info" th:href="@{/owner-panel/add-coaches/{id}(id=${club.id})}" role="button">Edytuj trenerów</a>
            </div>
            <div class="sport-object-button">
                <a class="btn btn-danger" th:href="@{/owner-panel/delete-club/{id}(id=${club.id})}" role="button">Usuń obiekt</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="Sport-object-All-Clubs">
    <div class="sport-object">
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'aquapark'">
            <img class="category" th:src="@{/images/aquapark_banner.jpg}"/>
        </div>
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'siłownia'">
            <img class="category" th:src="@{/images/siłownia_banner.jpg}"/>
        </div>
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'klub fitness'">
            <img class="category" th:src="@{/images/klub fitness_banner.jpg}"/>
        </div>
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'kort tenisowy'">
            <img class="category" th:src="@{/images/kort tenisowy_banner.jpg}"/>
        </div>
        <div class="image_sport_card" th:if="${club.clubCategory.getName()} == 'basen'">
            <img class="category" th:src="@{/images/basen_banner.jpg}"/>
        </div>
        <h1 class="title_sport_card">
            <a th:text="${club.name}"></a>
        </h1>

        <div class="address_sport_card">
            <img class="pin" th:src="@{/images/Gmap_icon.png}" />
            <p class="text_address_sport_card">
                <a th:text="${club.getFullAddress()}"></a>
            </p>
        </div>
        <p class="description_sport_card">
            <a th:text="${club.description}"></a><br>
        </p>

        <div class="div_category_sport_card">
            <p class="text_category_sport_card">
                <a th:text="${club.clubCategory.getName()}"></a>
            </p>
        </div>
        <div>
            <p>
                <b>Właściciel:</b> <a th:text="${club.owner.fullName()}"></a>
            </p>
        </div>
    </div>
</div>

<footer th:fragment="footer" class="py-5 bg-dark">
    <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; FitApp 2021</p>
    </div>
</footer>

</body>
</html>